<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>


    <div class="navbar">
        <a href="/"><i class="fas fa-tachometer-alt"></i> Dashboard</a>

        {% if session.get('privilege') == 'admin' %}
            <a href="/admin"><i class="fas fa-user-shield"></i> Admin</a>
        {% endif %}
        <a href="/support"><i class="fa-solid fa-circle-question"></i> Support</a>

        <div class="navsettings">
            <a href="/settings"><i class="fas fa-cog"></i> Settings</a>
            {% if 'user_id' in session %}
                <a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            {% endif %}
        </div>
    </div>

    <div class="logo-container">
        <img
          id="logo"
          src="{{ url_for('static', filename='images/storestash.png') }}"
          alt="StoreStash Logo"
        />
    </div>

    <div class="login-container">
        <h2>Login to StoreStash</h2>


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <form action="{{ url_for('auth.otp_login') }}" method="POST">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" required />

            <label for="otp">Password or OTP:</label>
            <input id="otp" type="password" name="otp" required />


            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>